In [15]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

### Importar mapa de eventos para dataframe

In [5]:
df = pd.read_csv('mapa_eventos.csv')

In [6]:
items = df.detalhes.str.split(';').apply(lambda x: pd.Series(x)).stack().str.strip().unique()
len(items)

66

In [8]:
df.head()

,data,detalhes,tipo,5_dia_util,transacoes_negocio
0,2015-01-01,Congelamento do ambiente; Feriado; Ano Novo; P...,Feriado,NaN,407.793
1,2015-01-02,Congelamento do ambiente; 1º dia útil; Pagamen...,Congelamento,NaN,3.709.156
2,2015-01-03,Congelamento do ambiente; Utilização de Caixa ...,Congelamento,NaN,876.498
3,2015-01-04,Congelamento do ambiente; Utilização de Caixa ...,Congelamento,NaN,520.752
4,2015-01-05,Movimento Segunda-Feira; Pagamento de benefíci...,Alto Risco,NaN,5.757.740

In [22]:
df.detalhes.str.split(';').apply(lambda x: pd.Series(x)).stack().str.strip().replace('', np.nan).value_counts()

Arrecadação de Convênios                                                                                                 513
Pagamento de benefícios INSS                                                                                             465
Utilização de Caixa Eletrônico                                                                                           372
Dia Produção Sisbr                                                                                                       357
Congelamento do ambiente                                                                                                 191
Movimento Segunda-Feira                                                                                                  182
Processo de Migração/Incorporação                                                                                         99
Aumento do volume de transações para os Canais Digitais e Canais Convencionais                                            97
Arrecadação de GPS                                                                                                        94
Aumento de transações CDO e ATM                                                                                           91
Movimento Batch – Empréstimo 0001                                                                                         84
Movimento Batch – Compe Inferior                                                                                          83
Utilização dos Canais Digitais                                                                                            76
Arrecadação do Convênio IPVA                                                                                              72
Previsão de grande movimento                                                                                              53
Pagamento de leite das Cooperativas Rurais                                                                                48
Arrecadação de DARF e DAS                                                                                                 47
Feriado                                                                                                                   45
Dia de maior movimento do Sicoobnet Empresarial                                                                           44
Liberação Operações de Crédito                                                                                            43
Grande Movimento Batch                                                                                                    43
Utilização dos aplicativos #ContaFácil e #FaçaParte                                                                       38
Aumento de transações de cartões                                                                                          28
Grande volume de transações nas Plataformas de Negócio                                                                    22
Antecede feriado                                                                                                          19
Data comemorativa                                                                                                         17
Aumento no volume de processamento do produto Poupança                                                                    13
Pós feriado                                                                                                               12
Processamento crítico                                                                                                     12
Provável dia de Jogo do Brasil na Copa do Mundo                                                                            9
                                                                                                                        ...
Movimento Batch – Aumento nas transações de Devolução na Compe                                                             5
Previsão de grande movimento no SISBR2.0                                                                                   5
Tiradentes                                                                                                                 4
Dia de grande movimento                                                                                                    4
Carnaval                                                                                                                   4
Independência do Brasil                                                                                                    4
Dia de Jogo do Brasil na Copa do Mundo                                                                                     4
Finados                                                                                                                    4
Corpus Christi                                                                                                             4
Dia do Trabalho                                                                                                            4
Nossa Senhora Aparecida e Dia das Crianças                                                                                 4
Ano Novo                                                                                                                   4
Proclamação da República                                                                                                   4
Antecede feriado prolongado                                                                                                3
Paixão de Cristo                                                                                                           3
1º dia útil                                                                                                                3
Dia dos Namorados                                                                                                          3
Natal                                                                                                                      3
Dia Internacional do Cooperativismo                                                                                        2
Previsão de alto tempo no processamento dos produtos empréstimo, crédito rural e TD durante o fechamento confederação      2
Previsão de grande movimento no cobrança - nova onda                                                                       2
Pós data comemorativa                                                                                                      2
Dia do Evangélico                                                                                                          2
Pós feriado prolongado                                                                                                     2
Aumento nas transações de cartões                                                                                          1
Aumento no tempo de processamento Batch                                                                                    1
Aumento no Movimento de Compe Inferior                                                                                     1
Páscoa                                                                                                                     1
Movimento Batch – Empréstimo                                                                                               1
Previsão de recorde movimento compesação (TTN + TTS)                                                                       1
Length: 65, dtype: int64

### Transformar a coluna 5_dia_util em boolean

In [ ]:
df['5_dia_util'] = df['5_dia_util'].fillna(0).astype(np.int)

### Remover coluna transacoes_negocio

In [ ]:
df.drop('transacoes_negocio', axis=1, inplace=True)

### Transformar items da coluna`detalhes` em one hot encoded

In [ ]:
detalhes = df.detalhes.str.split(';').apply(lambda x: pd.Series(x)).stack().str.strip().replace('', np.nan).dropna()

detalhes_idx = detalhes.index.get_level_values(0).unique()
detalhes_list = detalhes.groupby(level=0).apply(list).tolist()
df.loc[detalhes_idx, 'detalhes'] = detalhes_list

for row in df.loc[df.detalhes.isnull(), 'detalhes'].index: df.at[row, 'detalhes'] = []

df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('detalhes')), columns=mlb.classes_, index=df.index))

In [39]:
df['5_dia_util'] = df['5_dia_util'].fillna(0).astype(np.int)
# df.loc[df['5_dia_util'] == 1, '5_dia_util'] = 1

In [40]:
detalhes = df.detalhes.str.split(';').apply(lambda x: pd.Series(x)).stack().str.strip().replace('', np.nan).dropna()

detalhes_idx = detalhes.index.get_level_values(0).unique()
detalhes_list = detalhes.groupby(level=0).apply(list).tolist()
df.loc[detalhes_idx, 'detalhes'] = detalhes_list

for row in df.loc[df.detalhes.isnull(), 'detalhes'].index:
    df.at[row, 'detalhes'] = []

In [41]:
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('detalhes')), columns=mlb.classes_, index=df.index))

In [42]:
tipo_dia = pd.get_dummies(df.tipo , prefix='dia')
df = pd.concat([df, tipo_dia], axis=1)
df.drop('tipo', axis=1, inplace=True)

In [43]:
add_datepart(df, 'data', drop=False)

In [44]:
df.transacoes_negocio.fillna('0', inplace=True)
df.transacoes_negocio = df.transacoes_negocio.str.replace('.','').astype(np.int)

In [45]:
# df = df[df.transacoes_negocio.notnull()]

In [46]:
df.head()

,data,5_dia_util,transacoes_negocio,1º dia útil,Ano Novo,Antecede feriado,Antecede feriado prolongado,Arrecadação de Convênios,Arrecadação de DARF e DAS,Arrecadação de GPS,...,dataDay,dataDayofweek,dataDayofyear,dataIs_month_end,dataIs_month_start,dataIs_quarter_end,dataIs_quarter_start,dataIs_year_end,dataIs_year_start,dataElapsed
0,2015-01-01,0,407793,0,1,0,0,0,0,0,...,1.0,3.0,1.0,False,True,False,True,False,True,1420070400
1,2015-01-02,0,3709156,1,0,0,0,1,0,0,...,2.0,4.0,2.0,False,False,False,False,False,False,1420156800
2,2015-01-03,0,876498,0,0,0,0,0,0,0,...,3.0,5.0,3.0,False,False,False,False,False,False,1420243200
3,2015-01-04,0,520752,0,0,0,0,0,0,0,...,4.0,6.0,4.0,False,False,False,False,False,False,1420329600
4,2015-01-05,0,5757740,0,0,0,0,1,0,0,...,5.0,0.0,5.0,False,False,False,False,False,False,1420416000